.list-item {
	position: relative;
	font-size: 12px;
	text-align: left;
	padding: 10px;
	background: #fff
}

.list-item:after {
	content: ' ';
	position: absolute;
	height: 1px;
	background: #ddd;
	width: 100%;
	bottom: 0;
	left: 15px;
}

.list-item h2 {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.list-item .checkbox-box{
	position: relative;
}
.list-item .checkbox-btn {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50% ,-50%);
}
.list-item h2 label{
	display: inline-block;
	width:50%;
}
.list-item h2 span {
	float: right;
}

.delete-button {
	height: 100%;
}
.list-detial{

}
.list-detial div{
	line-height: 20px;
	color:#595959;
}
.list-detial div label{
	display: inline-block;
	width:70px;
}
.list-detial div span{
	display: inline-block;
	width:calc(100% - 80px);
	vertical-align: middle;
}