
.mobile-index {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	background: #eee;
	overflow: hidden;
}

.content {
	display: flex;
	flex-flow: column;
	width: 100%;
	position: absolute;
	top: 60px;
	bottom: 0;
	z-index: 1;
}

.container {
	height: calc(100% - 65px);
	background: #fff;

}

.floor {
	height: 50px;
	position: relative;
	z-index: 1;
	padding: 5px 10px 0;
	background: #fff;
	border-top: 1px solid #ddd;
}

.floor-old {
	height: 50px;
	background: #fff;
	/*border-top: 1px solid #ddd;*/
	padding:10px;
}

.floor-old .floor-btn {
	/*height: 50px;
	border: 0;*/
	font-size: 16px;
	/*border-radius: 0;*/
}

.floor-btn-000 .van-button__text {
	color: #595959;
}

.floor .checkbox-btn,
.floor-old .checkbox-btn {
	height: 50px;
	display: block;
	border-right: 1px solid #fff;
}

.floor .checkbox-btn .van-checkbox__icon,
.floor-old .checkbox-btn .van-checkbox__icon {
	text-align: center;
	line-height: 50px;

}

.floor .checkbox-btn .van-checkbox__icon .van-icon,
.floor-old .checkbox-btn .van-checkbox__icon .van-icon {
	display: inline-block;
}

.child-view {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: 9;

}

.van-list {
	height: calc(100vh - 166px);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.van-checkbox-group {}

.container-tabs .van-tab {
	border-bottom: 1px solid #ddd;
}

/* slide-fade */
.slide-fade-enter-active,
.slide-fade-leave-active {
	transition: all .3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(100%);
}

/* slide-fadeX */
.slide-fadeX-enter-active,
.slide-fadeX-leave-active {
	transition: all .3s ease;
}

.slide-fadeX-enter,
.slide-fadeX-leave-to {
	transform: translateX(100%);
}

.loading-toast {
	width: 50px;
	height: 50px;
	max-width: 70%;
	min-height: 50px;
}

.van-overlay {
	background: rgba(0, 0, 0, 0.3) !important;
}

div.inline {
	display: inline-block;
	width: 400px;
}
.add-invoice-item{
	height: 45px;
	line-height: 45px;
	color:#646566;
	font-size: 16px;
	border-bottom:1px solid #f7f8fa;
}
.add-invoice-item button{
	font-size: 16px;
	color:#646566;
	border:0;
	transition: background .1s ease;
}

.add-invoice-item:active button{
	background: #e9e9e9;
}

.upload-item,.van-uploader__input-wrapper{
	display: block;
	width:100%;
}